.appointmentInputs {
    // max-width: 800px;
    .top {
        height: fit-content;
        .serviceCat-wrapper {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        .appServiceCat-box {
            // border: 3px solid black;
            border-right: none;
            display: grid;
            grid-auto-flow: row;
            overflow: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 10px;
                background-color: white;
                border-radius: 0 8px 8px 0;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $pinkBG1;
                border-radius: 12px;
            }
        }
        .appSrvCatgy {
            background-color: white;
            border: none;
            font-family: $font-style-txt;
            text-transform: capitalize;
            text-align-last: left;
            height: 2rem;
            &:hover {
                background-color: $pink2;
                color: white;
                transition: all 0.2s ease-in-out;
            }
        }
        .catSelected {
            background-color: $pinkBG1;
            color: white;
            &:hover {
                background-color: $pinkBG1;
            }
        }
        .service-wrapper {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .appService-box {
            // border: 3px solid black;
            border-left: none;
            height: 35rem;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 15px;
                background-color: white;
                border-radius: 0 8px 8px 0;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $pinkBG1;
                border-radius: 12px;
            }
            .table-appService {
                float: left;
                height: fit-content;
                // box-shadow: -3px 3px 9px 0px rgb(179, 179, 179);
                tr {
                    cursor: pointer;
                    border: none;
                    margin-bottom: 5px;
                    height: 2.5rem;
                    max-height: 2.5rem;
                    border-radius: 10px;
                    &:hover {
                        background-color: $pink1;
                        color: white;
                        transition: all 0.2s ease-in-out;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        transform: scale(1.05);
                    }
                    td:first-child {
                        padding-left: 20px;
                        max-width: 300px;
                    }
                }
                .serviceSelected {
                    background-color: $pinkBG1;
                    color: white;
                    &:hover {
                        background-color: $pinkBG1;
                    }
                }
            }
        }
    }
    .appDatetime-wrapper {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .bottom {
        height: fit-content;
        .appCalendar {
            height: fit-content;
            .calendar-select {
                // background-color: yellow;
                // border: 1px solid black;
                // gap: 25px;
                #btnTodayDate {
                    background-color: $pinkBG1;
                    border: none;
                    color: white;
                    border-radius: 10px;
                    font-size: .75rem;
                    padding: 5px 0;
                    margin: auto 0;
                    width: 100%;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
            .tableHeader {
                border-bottom: 1px solid gray;
                display: grid;
                grid-template-columns: 20% 1fr 20%;
                height: 75px;
                .card-header {
                    text-align: center;
                    background: white;
                    border: none;
                }
                button {
                    border: none;
                    // margin: 5px;
                    outline: none;
                    background-color: white;
                    &:hover {
                        font-size: 1.5rem;
                        background-color: whitesmoke;
                    }
                }
            }
            #calendar {
                // table-layout: fixed;
                table-layout: fixed;
                width: 100%;
                min-height: 5rem;
                // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                thead {
                    tr {
                        // display: grid;
                        // grid-template-columns: repeat(7, 1fr);
                        text-align: center;
                        font: 10px;
                    }
                }
                #calendarBody {
                    // font-family: $font-family-Fredoka_One;
                    tr {
                        td {
                            text-align: center;
                            vertical-align: middle;
                            justify-items: center;
                            height: 3.5rem;
                            background-color: white;
                            box-sizing: border-box;
                            padding-right: 2%;
                            border-radius: 15px;
                        }
                        .date {
                            // background-color: #eee;
                            color: #aaa;
                        }
                        .pwedeDate {
                            position: relative;
                            font-weight: 555;
                            &:hover {
                                background-color: rgb(253, 218, 224);
                                transition: 0.5s ease-in-out;
                                // transform: scale(1.05);
                                cursor: pointer;
                                position: relative;
                            }
                        }
                        .todayDate {
                            background-color: $pink2;
                            color: white;
                            position: relative;
                            &::after {
                                position: absolute;
                                top: 65%;
                                left: 50%;
                                width: 100%;
                                height: 50%;
                                transform: translate(-50%, 0%);
                                font-size: 12px;
                                content: 'today';
                                z-index: 100;
                                color: white;
                            }
                            &:hover {
                                background-color: $pink2;
                            }
                        }
                        .selected {
                            background-color: $pinkBG1;
                            color: white;
                            position: relative;
                            &::after {
                                position: absolute;
                                top: 65%;
                                left: 50%;
                                width: 100%;
                                height: 50%;
                                transform: translate(-50%, 0%);
                                font-size: 12px;
                                content: 'selected';
                                font-size: .65rem;
                                z-index: 100;
                                color: white;
                            }
                            &:hover {
                                background-color: $pinkBG1;
                            }
                        }
                        .noClinic {
                            color: #aaa;
                            position: relative;
                            &::after {
                                position: absolute;
                                top: 65%;
                                left: 50%;
                                width: 100%;
                                height: 50%;
                                transform: translate(-50%, 0%);
                                font-size: 12px;
                                content: 'no clinic';
                                z-index: 100;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        .appTimePicker {
            .selectedDAte {
                font-weight: 550;
            }
            table {
                tbody {
                    tr {
                        outline: none;
                        border: none;
                        box-shadow: none;
                        background-color: white;
                        padding: 20px;
                        height: 3rem;
                        border-top: 1px solid $pinkBG1;
                        font-weight: normal;
                        font-style: normal;
                        font-size: .9rem;
                        cursor: pointer;
                        th {
                            color: crimson;
                        }
                        &:hover {
                            th {
                                font-size: 1.05rem;
                            }
                        }
                    }
                    .setted {
                        background-color: $pinkBG1;
                        border-top: none;
                        th {
                            color: white;
                        }
                        &:hover {
                            cursor: not-allowed;
                        }
                    }
                    .choosed {
                        background-color: $pink2;
                        color: white;
                        border-top: none;
                        th {
                            color: red;
                        }
                    }
                    .disable {
                        background-color: #e9e9e9;
                        &:hover {
                            cursor: not-allowed;
                            td {
                                font-size: 1.125rem;
                            }
                        }
                    }
                }
            }
            .row {
                margin: 10px 0;
                .timeRange {
                    // outline: none;
                    // border: none;
                    // box-shadow: none;
                    // background-color: white;
                    // padding: 10px;
                    // border-top: 2px solid pink;
                    // background-color: burlywood;
                    // &:hover {
                    //     transition: all 0.25s ease-in-out;
                    //     transform: scale(1.05);
                    //     background-color: $pink1;
                    //     color: white;
                    //     border: 3px solid white;
                    // }
                }
                .selected {
                    background-color: $pinkBG1;
                    color: white;
                    &:hover {
                        background-color: $pinkBG1;
                        border: 3px solid white;
                    }
                }
            }
            .oras {
                // background-color: $pink1;
                outline: none;
                border: none;
                box-shadow: none;
                background-color: white;
                padding: 10px;
                border-top: 2px solid pink;
                &:focus {
                    // outline: none;
                    // border: none;
                }
            }
        }
    }
}

.patientForm {
    height: fit-content;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    // padding-left: 1rem;
    .serviceFormCategory {
        margin: 12px 0;
        .no-border {
            border: none;
        }
        .question {
            padding-top: 1rem;
        }
    }
    .questionCategoryWrapper {}
    .serviceFormCategory:nth-child(1) {}
    .serviceFormCategory:nth-child(2) {}
    .serviceFormCategory:nth-child(3) {}
    .questionCategoryWrapper {
        // border: 1px solid black;
        // margin-right: 75px;
        p {
            color: $font-color-pink;
            text-align: justify;
            text-indent: 50px;
        }
    }
    span,
    input {
        border: none;
        background-color: white;
        border-radius: 0;
    }
    input {
        border-bottom: 2px solid $pinkBG1;
        &:focus {
            box-shadow: none;
            border-bottom: 3px solid $pinkBG1;
        }
    }
    label {
        cursor: pointer;
    }
    input[type="date"] {
        // width: fit-content;
        cursor: pointer;
    }
    input[type="radio"] {
        margin-left: 25px;
        cursor: pointer;
    }
    .ifYes {
        width: 95%;
        margin-top: 0;
        // display: none;
        // background-color: blanchedalmond;
    }
    .forFemales {
        margin-top: 30px;
        .question {
            margin-top: 0px;
        }
    }
    .condtionsCheckBox {
        margin: 20px 0px;
        display: grid;
        grid-template-columns: 1fr minmax(200px, 1fr);
        grid-template-rows: auto;
        grid-gap: 0;
        height: fit-content;
        div {
            margin: 0;
            padding: 0;
            height: fit-content;
            width: fit-content;
        }
    }
    .addConditionWrapper {
        input {
            padding: 10px;
            padding-left: 15px;
            &:focus {
                outline: none;
                border: none;
                border-bottom: 3px solid $pinkBG1;
            }
        }
    }
    #addNewCondition {
        font-size: 10px;
        border: none;
        background-color: $pinkBG1;
        color: white;
        padding: 10px;
        border-radius: 10px;
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        }
    }
    #agree {
        width: 25px;
        height: 15px;
    }
    .agreeLabel {
        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }
}

.appoinmentDetails {
    position: sticky;
    top: 80px;
    height: fit-content;
    align-self: flex-start;
    .patient-details {
        border: 2px solid $pinkBG1;
        width: 85%;
        border-radius: 30px;
        padding: 25px 35px;
        height: fit-content;
        align-content: center;
        justify-content: center;
        margin-bottom: 25px;
        .patient-inputs {
            float: left;
            outline: none;
            input {
                border: none;
                border-bottom: 2px solid $pinkBG1;
                padding-bottom: 2px;
                font-size: $font-med;
                &:focus {
                    border-bottom: 3px solid $pinkBG1;
                    box-shadow: none;
                }
            }
        }
        .patientId-form {
            display: grid;
            grid-auto-flow: row;
            text-align: left;
        }
        .unShow {
            transition: all 0.5s ease-in-out;
            display: none;
        }
        #patientIdError {
            font-size: .75rem;
            color: red;
        }
        #patientName {
            font-size: .75rem;
        }
    }
    .patient-bookDetails {
        height: fit-content;
        border: 2px solid $pinkBG1;
        width: 85%;
        border-radius: 30px;
        padding: 25px 25px;
    }
    .servicesChoosed {
        table {
            th {
                font-weight: 550;
                border-bottom: .25px solid gray;
            }
            tr {
                // cursor: pointer;
                // border-bottom: .25px solid gray;
                // background-color: pink;
                font-size: $font-sm;
                .serviceId {
                    display: none;
                }
                .serviceDuration {
                    display: none;
                }
                button {
                    width: 10px;
                    height: 10px;
                    border: none;
                    background-color: transparent;
                }
            }
            .choosedServiceRow {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            }
            .totalAmountRow th {
                border: none;
                border-top: .25px solid gray;
            }
            .totalDurationRow th {
                border: none;
                // border-top: .25px solid gray;
            }
        }
    }
    .choosedAppointmentDate {
        font-weight: 550;
    }
    input,
    span {
        border: none;
        background-color: white;
        padding-right: 2px;
    }
    .buttonAppointment {
        height: 50px;
        background-color: $pinkBG1;
        color: white;
        border: none;
        border-radius: 10px;
        letter-spacing: .125em;
        margin-top: 10px;
        &:hover {
            transform: scale(1.025);
        }
    }
    .patient-TransactionWay {
        margin-top: 25px;
        height: fit-content;
        border: 2px solid $pinkBG1;
        width: 85%;
        border-radius: 30px;
        padding: 25px 25px;
        font: 25px;
        input[type="radio"] {
            // border: 1px solid $pinkBG1;
            background-color: $pinkBG1;
            // color: $pinkBG1;
            // position: absolute;
            // opacity: 0;
        }
        .payment {
            padding: 10px 0px;
            padding-left: 20px;
            p {
                float: left;
                font-size: 15px;
                color: #555;
                width: 75%;
            }
            #btnSubmitAppointment {
                width: 100%;
            }
        }
    }
}

@media (max-width: 576px) {
    .appServiceCat-box {
        height: 10rem;
    }
    .patientForm {
        .condtionsCheckBox {
            grid-template-columns: auto;
            // grid-template-columns: 1fr minmax(200px, 1fr);
            // background-color: blue;
        }
    }
}