.contactBanner {
    position: relative;
    min-height: 21.5rem;
    /* height: fit-content; */
    content: '';
    background-image: url("../resources/clinicImages/dental_banner.jpg");
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-position: 0px center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #66092a58;
    background-blend-mode: soft-light;
    z-index: 10;
    .banner-text {
        font-size: 3rem;
        font-weight: bolder;
    }
}

.link-text-undecorated {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}