.tableHeader {
    background-color: $pinkBG1;
    color: white;
    button {
        background-color: $pinkBG1;
        color: white;
        border: none;
        outline: none;
        box-shadow: none;
        &:focus,
        &:hover {
            background-color: $pinkBG1;
            color: white;
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
}

#calendarBody {
    // font-family: $font-family-Fredoka_One;
    background-color: yellowgreen;
    tr {
        td {
            text-align: right;
            background-color: white;
            // max-width: 100px;
            height: 75px;
            margin: 1px;
        }
        .date {
            // background-color: #eee;
            // color: #aaa;
            cursor: pointer;
            // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-bottom: 1px solid rgb(225, 225, 225);
            width: 14%;
            padding-right: 10px;
            &:hover {
                background-color: pink;
                transition: all .25s ease-in-out;
                font-size: 1.25rem;
                font-weight: 600;
            }
        }
        .todayDate {
            background-color: $pink2;
            color: white;
            position: relative;
            &::after {
                position: absolute;
                top: 65%;
                left: 50%;
                width: 100%;
                height: 50%;
                transform: translate(-60%, -50%);
                font-size: 12px;
                content: 'today';
                z-index: 100;
                font-weight: 600;
                color: white;
            }
            &:hover {
                background-color: $pink2;
            }
        }
        .appoinment {
            width: fit-content; // border: 1px solid black;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            font-size: .75rem;
            margin-bottom: 2px;
            padding: 5px 3px;
            // margin: 0 auto;
            // float: right;
        }
        .selected {
            background-color: $pinkBG1;
            color: white;
            position: relative;
            &::after {
                position: absolute;
                top: 65%;
                left: 50%;
                width: 100%;
                height: 50%;
                transform: translate(-50%, 0%);
                font-size: 12px;
                content: 'selected';
                z-index: 100;
                color: white;
            }
            &:hover {
                background-color: $pinkBG1;
            }
        }
        .holiday {
            color: #aaa;
            position: relative;
            &::after {
                position: absolute;
                top: 65%;
                left: 50%;
                width: 100%;
                height: 50%;
                transform: translate(-50%, 0%);
                font-size: 12px;
                content: 'holiday';
                z-index: 100;
                color: black;
            }
        }
    }
}

.timeRow {
    // background-color: plum;
    height: 55px;
}

.unAvailable {
    background-color: white;
}

.hasSched1 {
    background-color: #FFC2C7;
}

.hasSched2 {
    background-color: #B6E5D8;
}

.hasSched3 {
    background-color: #FBE5C8;
}

.hasSched4 {
    background-color: #8FDDE7;
}

.hasSched5 {
    background-color: #d5d4d4;
}

.hasSched6 {
    background-color: #FFC2C7;
}

.hasSched7 {
    background-color: #B6E5D8;
}

.shedTime {
    cursor: pointer;
    letter-spacing: .10rem;
    font-size: .75rem;
    &:hover {
        transition: ease-in-out;
        font-size: 1rem;
    }
}