.bg-pink {
    background-color: $pinkBG1;
}

.bttn-pink {
    background-color: $pinkBG1;
    color: white;
    &:hover {
        background-color: $pinkBG1;
    }
}

.bg_image {
    content: '';
    // E:\xampp\htdocs\Dental Clinic\admin\resources\images\bg-image.png
    background-image: url("../resources/images/bg-image.png");
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-position: 0px center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff58;
    // background-blend-mode: soft-light;
    z-index: 10;
}