RewriteEngine on


#  url for service  add

RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^service/add serviceAdd.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for service  add category

RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^service/categories serviceCategories.php [NC,L,QSA]

# ----------------------------------------------


#  url for service  view

RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^service/([0-9A-Za-z-\s]+) serviceView.php?serviceId=$1 [NC,L,QSA]

# ----------------------------------------------- 

#  url for service 
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^service service.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for appoinment archived view
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^archiveAppointments/([0-9A-Za-z-\s]+) archivedAppointmentView.php?appoinmentId=$1 [NC,L,QSA]

# -----------------------------------------------  

#  url for appoinment archived
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^archiveAppointments archiveAppointments.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for appoinment file
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule appointmentFile appointmentFile.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for appoinment filter
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^appointment/filtered appointmentFiltered.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for appoinment view
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^appointment/([0-9A-Za-z-\s]+) appointmentView.php?appoinmentId=$1 [NC,L,QSA]

# ----------------------------------------------- 

#  url for appoinment 
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^appointment appointment.php [NC,L,QSA]

# ----------------------------------------------- 




#  url for patients print
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^patientFile/([0-9A-Za-z-\s]+) patientFile.php?patientId=$1 [NC,L,QSA]

# ----------------------------------------------- 

#  url for patients view
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^patients/([0-9A-Za-z-\s]+) patientView.php?patientId=$1 [NC,L,QSA]

# ----------------------------------------------- 

#  url for patients
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^patients patients.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for date view
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^calendar/([0-9A-Za-z-\s]+) dateview.php?dateToView=$1 [NC,L,QSA]

# ----------------------------------------------- 

#  url for calendar
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^calendar calendar.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for message unread
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^message/unread messageUnread.php [NC,L,QSA]

# ----------------------------------------------- 
#  url for message view
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^message/([0-9A-Za-z-\s]+) messageView.php?messageId=$1 [NC,L,QSA]

# ----------------------------------------------- 


#  url for message
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^message message.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for admin log in
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^login login.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for admin register account
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^register register.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for admin edit account
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^edit edit.php [NC,L,QSA]

# ----------------------------------------------- 


#  url for admin 
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^admin admin.php [NC,L,QSA]

# ----------------------------------------------- 

#  url for admin 
RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^activityLog activityLog.php [NC,L,QSA]

# ----------------------------------------------- 








# #  url for admin

# RewriteCond %{Request_FileName} !-d

# RewriteCond %{Request_FileName}\.php -f

# RewriteRule admin admin/index.php [NC,L,QSA]
# # ----------------------------------------------- 

# #  url for admin

# RewriteCond %{Request_FileName} !-d

# RewriteCond %{Request_FileName}\.php -f

# RewriteRule admin/service admin/service.php [NC,L,QSA]
# # ----------------------------------------------- 


#  url for index

RewriteCond %{Request_FileName} !-d

RewriteCond %{Request_FileName}\.php -f

RewriteRule ^(.*)$ index.php?$1 [NC,L,QSA]
# ----------------------------------------------- 


