@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  min-height: 60rem;
  padding-top: 5rem;
}

.unShow {
  display: none;
}

.bg-boxDot {
  background-image: url("../resources/icons/block_box.png");
  background-position: 0px center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-2 {
  color: #ee2185;
}

.text-3 {
  color: #bf2441;
  font-family: 'Inter', sans-serif;
  text-transform: lowercase;
}

.text-3::first-letter {
  text-transform: uppercase;
  font-size: 2rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-sm {
  font-size: .75rem;
}

.text-xsm {
  font-size: .70rem;
}

.letter-spacing-1 {
  letter-spacing: .25rem;
}

.text-gray {
  color: #2F2E2E;
}

.bg-pink-2 {
  background-color: #f05f7a88;
}

.line-1 {
  line-height: 1.75em;
}

.border-1 {
  border-radius: 54% 46% 63% 37% / 66% 36% 64% 34%;
}

.banner {
  position: relative;
  min-height: 25rem;
  /* height: fit-content; */
  content: '';
  background-image: url("../resources/clinicImages/dental_banner.jpg");
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-position: 0px center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #66092a58;
  background-blend-mode: soft-light;
  z-index: 10;
}

.banner .banner-text {
  font-size: 3rem;
  font-weight: bolder;
}

.banner .text-2 {
  color: white;
  color: #ee2185;
}

.banner #btnBookAppointment {
  background-color: white;
  color: #bf2441;
  outline: none;
  border: none;
}

.banner #btnBookAppointment:hover {
  -webkit-box-shadow: rgba(110, 110, 121, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(110, 110, 121, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.text-spacing {
  letter-spacing: .25rem;
}

#btnViewApp {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#header img {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.bd-footer {
  font-size: .75rem;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#bf2441), color-stop(#cb354f), color-stop(#d8435c), color-stop(#e4516b), to(#f05f79));
  background-image: linear-gradient(to right top, #bf2441, #cb354f, #d8435c, #e4516b, #f05f79);
}

.bd-footer a {
  color: white;
  text-decoration: none;
}

.bd-footer a:hover {
  text-decoration: underline;
}

.service {
  display: display;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 5px;
}

.service__box {
  height: 170px;
  width: 170px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.service__box:hover {
  cursor: pointer;
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  bottom: 20px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.service__img {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service__img img {
  width: inherit;
  height: inherit;
  border-radius: 5%;
}

.service__title {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  padding: 0 0 5px 5px;
}

.service__title p {
  letter-spacing: .2rem;
  margin: 0 10px;
  padding: 5px 0;
  text-align: center;
  font-size: .85rem;
  color: white;
  font-family: "Inter", sans-serif;
  background-color: rgba(128, 128, 128, 0.255);
}

.serviceUnder {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content {
  height: 80%;
  padding: 25px;
}

.content .form-box {
  width: 100%;
  height: 100%;
}

.content .form-box .user-details {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (45px)[7];
      grid-template-rows: repeat(7, 45px);
  gap: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .form-box .user-details .input-box {
  height: 40px;
  width: 100%;
  position: relative;
}

.content .form-box .user-details .input-box input {
  height: 100%;
  width: inherit;
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: -12px;
  line-height: .125em;
  border-bottom: 2px solid #F05F79;
  font-family: 'Poppins', sans-serif;
}

.content .form-box .user-details .input-box input:focus ~ .details,
.content .form-box .user-details .input-box input:valid ~ .details {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  font-size: 1rem;
  color: #bf2441;
}

.content .form-box .user-details .input-box input:focus ~ .underline:before,
.content .form-box .user-details .input-box input:valid ~ .underline:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.content .form-box .user-details .input-box .details {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content .form-box .user-details .input-box .underline {
  position: absolute;
  height: 2.125px;
  width: 100%;
  bottom: 0;
}

.content .form-box .user-details .input-box .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #bf2441;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.content .form-box .user-details .input-box:nth-of-type(1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
}

.content .form-box .user-details .input-box:nth-of-type(2) {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
}

.content .form-box .user-details .input-box:nth-of-type(3) {
  line-height: normal;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  background: none;
  background-color: transparent;
  /* Removes the spin button */
}

.content .form-box .user-details .input-box:nth-of-type(3) input[type="date"]::-webkit-clear-button {
  display: none;
}

.content .form-box .user-details .input-box:nth-of-type(3) input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.content .form-box .user-details .input-box:nth-of-type(3) input[type='date'] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  color: white;
  font-size: 1rem;
  padding: 5px;
  line-height: normal;
}

.content .form-box .user-details .input-box:nth-of-type(3) input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
  display: none;
  display: block;
}

.content .form-box .user-details .input-box:nth-of-type(3) input[type="date"]:focus {
  color: black;
}

.content .form-box .user-details .input-box:nth-of-type(3) input[type="date"]:valid {
  color: black;
}

.content .form-box .user-details .input-box:nth-of-type(3) input[type="date"]:focus ~ input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.content .form-box .user-details .input-box:nth-of-type(4) {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 11;
}

.content .form-box .user-details .input-box:nth-of-type(5) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.content .form-box .user-details .input-box:nth-of-type(5) .genderBox__container {
  z-index: 500;
  -webkit-box-shadow: 0 0px 10px gray;
          box-shadow: 0 0px 10px gray;
  position: absolute;
  top: 45px;
  background: white;
  width: 300px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
}

.content .form-box .user-details .input-box:nth-of-type(5) .genderBox__container-active {
  max-height: 200px;
  opacity: 1;
  overflow-y: scroll;
}

.content .form-box .user-details .input-box:nth-of-type(5) .genderBox__container::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  border-radius: 0 8px 8px 0;
}

.content .form-box .user-details .input-box:nth-of-type(5) .genderBox__container::-webkit-scrollbar-thumb {
  background-color: #F05F79;
  border-radius: 12px;
}

.content .form-box .user-details .input-box:nth-of-type(5) .genderBox__container .genderBox__options {
  padding: 12px 24px;
  cursor: pointer;
}

.content .form-box .user-details .input-box:nth-of-type(5) .genderBox__container .genderBox__options label {
  cursor: pointer;
}

.content .form-box .user-details .input-box:nth-of-type(5) .genderBox__container .genderBox__options input[type="radio"] {
  display: none;
}

.content .form-box .user-details .input-box:nth-of-type(5) .genderBox__container .genderBox__options:hover {
  background-color: #FFA3AD;
  color: whitesmoke;
}

.content .form-box .user-details .input-box:nth-of-type(6) {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 11;
}

.content .form-box .user-details .input-box:nth-of-type(6) .civilBox__container {
  z-index: 500;
  -webkit-box-shadow: 0 0px 10px gray;
          box-shadow: 0 0px 10px gray;
  position: absolute;
  top: 45px;
  background: white;
  width: 300px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
}

.content .form-box .user-details .input-box:nth-of-type(6) .civilBox__container-active {
  max-height: 200px;
  opacity: 1;
  overflow-y: scroll;
}

.content .form-box .user-details .input-box:nth-of-type(6) .civilBox__container::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  border-radius: 0 8px 8px 0;
}

.content .form-box .user-details .input-box:nth-of-type(6) .civilBox__container::-webkit-scrollbar-thumb {
  background-color: #F05F79;
  border-radius: 12px;
}

.content .form-box .user-details .input-box:nth-of-type(6) .civilBox__container .civilBox__options {
  padding: 12px 24px;
  cursor: pointer;
}

.content .form-box .user-details .input-box:nth-of-type(6) .civilBox__container .civilBox__options label {
  cursor: pointer;
}

.content .form-box .user-details .input-box:nth-of-type(6) .civilBox__container .civilBox__options input[type="radio"] {
  display: none;
}

.content .form-box .user-details .input-box:nth-of-type(6) .civilBox__container .civilBox__options:hover {
  background-color: #FFA3AD;
  color: whitesmoke;
}

.content .form-box .user-details .input-box:nth-of-type(7) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 11;
}

.content .form-box .user-details .input-box:nth-of-type(8) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
}

.content .form-box .user-details .input-box:nth-of-type(9) {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
}

.content .form-box .user-details .input-box:nth-of-type(9) input {
  padding-left: 50px;
  position: inherit;
}

.content .form-box .user-details .input-box:nth-of-type(9) input:focus ~ .addons,
.content .form-box .user-details .input-box:nth-of-type(9) input:valid ~ .addons {
  opacity: 1;
}

.content .form-box .user-details .input-box:nth-of-type(9) .addons {
  content: "(+63)";
  left: 5px;
  bottom: 19px;
  position: absolute;
  outline: none;
  font-size: 1rem;
  padding-bottom: -12px;
  line-height: .125em;
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.content .form-box .user-details .input-box:nth-of-type(10) {
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
}

.content .form-box .user-details .input-box:nth-of-type(10) #regPatientSubmit {
  letter-spacing: 0.225rem;
  background-color: #F05F79;
  color: white;
  padding: 15px;
  width: 100%;
  height: 45px;
  font-family: "Inter", sans-serif;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.content .form-box .user-details .input-box:nth-of-type(10) #regPatientSubmit:hover {
  border-radius: 50px;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.dentistInfo__image {
  width: 30rem;
  height: 25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dentistInfo__image .img1 {
  position: absolute;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 10px;
  height: 100%;
  width: 100%;
  border-radius: 38% 62% 54% 46% / 41% 36% 64% 59%;
  background-color: #f7627b;
}

.dentistInfo__image .img1 img {
  height: inherit;
  width: inherit;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dentistInfo__image .img2 {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0px;
  border-radius: 48% 48% 45% 51% / 64% 61% 32% 33%;
  height: 100%;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8d0d7), color-stop(#fdb5c1), color-stop(#ff99a9), color-stop(#ff7b91), to(#fe5a77));
  background-image: linear-gradient(to bottom, #f8d0d7, #fdb5c1, #ff99a9, #ff7b91, #fe5a77);
}

.dentistInfo__image .img2 img {
  height: 100%;
  min-width: 25rem;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.icon-pink {
  color: #ee2185;
}

.contactBanner {
  position: relative;
  min-height: 21.5rem;
  /* height: fit-content; */
  content: '';
  background-image: url("../resources/clinicImages/dental_banner.jpg");
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-position: 0px center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #66092a58;
  background-blend-mode: soft-light;
  z-index: 10;
}

.contactBanner .banner-text {
  font-size: 3rem;
  font-weight: bolder;
}

.link-text-undecorated {
  text-decoration: none;
}

.link-text-undecorated:hover {
  text-decoration: underline;
}

.appointmentInputs .top {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.appointmentInputs .top .serviceCat-wrapper {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.appointmentInputs .top .appServiceCat-box {
  border-right: none;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  overflow: hidden;
  overflow-y: scroll;
}

.appointmentInputs .top .appServiceCat-box::-webkit-scrollbar {
  width: 10px;
  background-color: white;
  border-radius: 0 8px 8px 0;
}

.appointmentInputs .top .appServiceCat-box::-webkit-scrollbar-thumb {
  background-color: #F05F79;
  border-radius: 12px;
}

.appointmentInputs .top .appSrvCatgy {
  background-color: white;
  border: none;
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  text-align-last: left;
  height: 2rem;
}

.appointmentInputs .top .appSrvCatgy:hover {
  background-color: #FFA3AD;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.appointmentInputs .top .catSelected {
  background-color: #F05F79;
  color: white;
}

.appointmentInputs .top .catSelected:hover {
  background-color: #F05F79;
}

.appointmentInputs .top .service-wrapper {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.appointmentInputs .top .appService-box {
  border-left: none;
  height: 35rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.appointmentInputs .top .appService-box::-webkit-scrollbar {
  width: 15px;
  background-color: white;
  border-radius: 0 8px 8px 0;
}

.appointmentInputs .top .appService-box::-webkit-scrollbar-thumb {
  background-color: #F05F79;
  border-radius: 12px;
}

.appointmentInputs .top .appService-box .table-appService {
  float: left;
}

.appointmentInputs .top .appService-box .table-appService tr {
  cursor: pointer;
  border: none;
  margin-bottom: 5px;
  height: 2.5rem;
  border-radius: 10px;
}

.appointmentInputs .top .appService-box .table-appService tr:hover {
  background-color: #faa2b2;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.appointmentInputs .top .appService-box .table-appService tr td:first-child {
  padding-left: 20px;
  max-width: 300px;
}

.appointmentInputs .top .appService-box .table-appService .serviceSelected {
  background-color: #F05F79;
  color: white;
}

.appointmentInputs .top .appService-box .table-appService .serviceSelected:hover {
  background-color: #F05F79;
}

.appointmentInputs .appDatetime-wrapper {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.appointmentInputs .bottom {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.appointmentInputs .bottom .appCalendar {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.appointmentInputs .bottom .appCalendar .calendar-select #btnTodayDate {
  background-color: #F05F79;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: .75rem;
  padding: 5px 0;
  margin: auto 0;
  width: 100%;
}

.appointmentInputs .bottom .appCalendar .calendar-select #btnTodayDate:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.appointmentInputs .bottom .appCalendar .tableHeader {
  border-bottom: 1px solid gray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 20%;
      grid-template-columns: 20% 1fr 20%;
  height: 75px;
}

.appointmentInputs .bottom .appCalendar .tableHeader .card-header {
  text-align: center;
  background: white;
  border: none;
}

.appointmentInputs .bottom .appCalendar .tableHeader button {
  border: none;
  outline: none;
  background-color: white;
}

.appointmentInputs .bottom .appCalendar .tableHeader button:hover {
  font-size: 1.5rem;
  background-color: whitesmoke;
}

.appointmentInputs .bottom .appCalendar #calendar {
  table-layout: fixed;
  width: 100%;
  min-height: 5rem;
}

.appointmentInputs .bottom .appCalendar #calendar thead tr {
  text-align: center;
  font: 10px;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr td {
  text-align: center;
  vertical-align: middle;
  justify-items: center;
  height: 3.5rem;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 2%;
  border-radius: 15px;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .date {
  color: #aaa;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .pwedeDate {
  position: relative;
  font-weight: 555;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .pwedeDate:hover {
  background-color: #fddae0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .todayDate {
  background-color: #FFA3AD;
  color: white;
  position: relative;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .todayDate::after {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  height: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 12px;
  content: 'today';
  z-index: 100;
  color: white;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .todayDate:hover {
  background-color: #FFA3AD;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .selected {
  background-color: #F05F79;
  color: white;
  position: relative;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .selected::after {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  height: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 12px;
  content: 'selected';
  font-size: .65rem;
  z-index: 100;
  color: white;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .selected:hover {
  background-color: #F05F79;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .holiday {
  color: #aaa;
  position: relative;
}

.appointmentInputs .bottom .appCalendar #calendar #calendarBody tr .holiday::after {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  height: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 12px;
  content: 'holiday';
  z-index: 100;
  color: black;
}

.appointmentInputs .bottom .appTimePicker .selectedDAte {
  font-weight: 550;
}

.appointmentInputs .bottom .appTimePicker table tbody tr {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  padding: 20px;
  height: 3rem;
  border-top: 1px solid #F05F79;
  font-weight: normal;
  font-style: normal;
  font-size: .9rem;
  cursor: pointer;
}

.appointmentInputs .bottom .appTimePicker table tbody tr th {
  color: crimson;
}

.appointmentInputs .bottom .appTimePicker table tbody tr:hover th {
  font-size: 1.05rem;
}

.appointmentInputs .bottom .appTimePicker table tbody .setted {
  background-color: #F05F79;
  border-top: none;
}

.appointmentInputs .bottom .appTimePicker table tbody .setted th {
  color: white;
}

.appointmentInputs .bottom .appTimePicker table tbody .setted:hover {
  cursor: not-allowed;
}

.appointmentInputs .bottom .appTimePicker table tbody .choosed {
  background-color: #FFA3AD;
  color: white;
  border-top: none;
}

.appointmentInputs .bottom .appTimePicker table tbody .choosed th {
  color: red;
}

.appointmentInputs .bottom .appTimePicker table tbody .disable {
  background-color: #e9e9e9;
}

.appointmentInputs .bottom .appTimePicker table tbody .disable:hover {
  cursor: not-allowed;
}

.appointmentInputs .bottom .appTimePicker table tbody .disable:hover td {
  font-size: 1.125rem;
}

.appointmentInputs .bottom .appTimePicker .row {
  margin: 10px 0;
}

.appointmentInputs .bottom .appTimePicker .row .selected {
  background-color: #F05F79;
  color: white;
}

.appointmentInputs .bottom .appTimePicker .row .selected:hover {
  background-color: #F05F79;
  border: 3px solid white;
}

.appointmentInputs .bottom .appTimePicker .oras {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  padding: 10px;
  border-top: 2px solid pink;
}

.patientForm {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.patientForm .serviceFormCategory {
  margin: 12px 0;
}

.patientForm .serviceFormCategory .no-border {
  border: none;
}

.patientForm .serviceFormCategory .question {
  padding-top: 1rem;
}

.patientForm .questionCategoryWrapper p {
  color: #bf2441;
  text-align: justify;
  text-indent: 50px;
}

.patientForm span,
.patientForm input {
  border: none;
  background-color: white;
  border-radius: 0;
}

.patientForm input {
  border-bottom: 2px solid #F05F79;
}

.patientForm input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 3px solid #F05F79;
}

.patientForm label {
  cursor: pointer;
}

.patientForm input[type="date"] {
  cursor: pointer;
}

.patientForm input[type="radio"] {
  margin-left: 25px;
  cursor: pointer;
}

.patientForm .ifYes {
  width: 95%;
  margin-top: 0;
}

.patientForm .forFemales {
  margin-top: 30px;
}

.patientForm .forFemales .question {
  margin-top: 0px;
}

.patientForm .condtionsCheckBox {
  margin: 20px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(200px, 1fr);
      grid-template-columns: 1fr minmax(200px, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.patientForm .condtionsCheckBox div {
  margin: 0;
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.patientForm .addConditionWrapper input {
  padding: 10px;
  padding-left: 15px;
}

.patientForm .addConditionWrapper input:focus {
  outline: none;
  border: none;
  border-bottom: 3px solid #F05F79;
}

.patientForm #addNewCondition {
  font-size: 10px;
  border: none;
  background-color: #F05F79;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.patientForm #addNewCondition:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.patientForm #agree {
  width: 25px;
  height: 15px;
}

.patientForm .agreeLabel:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.appoinmentDetails {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.appoinmentDetails .patient-details {
  border: 2px solid #F05F79;
  width: 85%;
  border-radius: 30px;
  padding: 25px 35px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.appoinmentDetails .patient-details .patient-inputs {
  float: left;
  outline: none;
}

.appoinmentDetails .patient-details .patient-inputs input {
  border: none;
  border-bottom: 2px solid #F05F79;
  padding-bottom: 2px;
  font-size: 1.125rem;
}

.appoinmentDetails .patient-details .patient-inputs input:focus {
  border-bottom: 3px solid #F05F79;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.appoinmentDetails .patient-details .patientId-form {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  text-align: left;
}

.appoinmentDetails .patient-details .unShow {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: none;
}

.appoinmentDetails .patient-details #patientIdError {
  font-size: .75rem;
  color: red;
}

.appoinmentDetails .patient-details #patientName {
  font-size: .75rem;
}

.appoinmentDetails .patient-bookDetails {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #F05F79;
  width: 85%;
  border-radius: 30px;
  padding: 25px 25px;
}

.appoinmentDetails .servicesChoosed table th {
  font-weight: 550;
  border-bottom: .25px solid gray;
}

.appoinmentDetails .servicesChoosed table tr {
  font-size: 0.9375rem;
}

.appoinmentDetails .servicesChoosed table tr .serviceId {
  display: none;
}

.appoinmentDetails .servicesChoosed table tr .serviceDuration {
  display: none;
}

.appoinmentDetails .servicesChoosed table tr button {
  width: 10px;
  height: 10px;
  border: none;
  background-color: transparent;
}

.appoinmentDetails .servicesChoosed table .choosedServiceRow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.appoinmentDetails .servicesChoosed table .totalAmountRow th {
  border: none;
  border-top: .25px solid gray;
}

.appoinmentDetails .servicesChoosed table .totalDurationRow th {
  border: none;
}

.appoinmentDetails .choosedAppointmentDate {
  font-weight: 550;
}

.appoinmentDetails input,
.appoinmentDetails span {
  border: none;
  background-color: white;
  padding-right: 2px;
}

.appoinmentDetails .buttonAppointment {
  height: 50px;
  background-color: #F05F79;
  color: white;
  border: none;
  border-radius: 10px;
  letter-spacing: .125em;
  margin-top: 10px;
}

.appoinmentDetails .buttonAppointment:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.appoinmentDetails .patient-TransactionWay {
  margin-top: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #F05F79;
  width: 85%;
  border-radius: 30px;
  padding: 25px 25px;
  font: 25px;
}

.appoinmentDetails .patient-TransactionWay input[type="radio"] {
  background-color: #F05F79;
}

.appoinmentDetails .patient-TransactionWay .payment {
  padding: 10px 0px;
  padding-left: 20px;
}

.appoinmentDetails .patient-TransactionWay .payment p {
  float: left;
  font-size: 15px;
  color: #555;
  width: 75%;
}

.appoinmentDetails .patient-TransactionWay .payment #btnSubmitAppointment {
  width: 100%;
}

@media (max-width: 576px) {
  .appServiceCat-box {
    height: 10rem;
  }
  .patientForm .condtionsCheckBox {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=style.css.map */